{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        reagent {:mvn/version "0.10.0"}
        re-frame {:mvn/version "0.12.0"}
        district0x.re-frame/google-analytics-fx {:mvn/version "1.0.0"}}
 :paths ["src" "resources"]
 :aliases {:fig {:extra-deps
                  {com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
                   com.bhauman/figwheel-main {:mvn/version "0.2.3"}
                   binaryage/devtools {:mvn/version "1.0.0"}
                   devcards {:mvn/version "0.2.6"}
                   kamera {:mvn/version "0.1.2-SNAPSHOT"}
                   day8.re-frame/test {:mvn/version "0.1.5"}
                   org.clojure/test.check {:mvn/version "0.10.0"}
                   org.clojure/spec.alpha {:mvn/version "0.2.187"}}
                 :extra-paths ["target" "test"]}
           :build {:main-opts ["-m" "figwheel.main" "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main" "-o" "dist/main.js" "-O" "advanced" "-bo" "dev"]}
           :test  {:main-opts ["-m" "figwheel.main" "-co" "test.cljs.edn" "-m" "webapp.test-runner"]}
           :synth {:main-opts ["-m" "stedi.cdk.main" "synth"]}
           :cdk {:extra-paths ["cdk"]
                 :extra-deps  {stedi/cdk-clj {:git/url "https://github.com/StediInc/cdk-clj.git"
                                              :sha     "8de0174c47ef456f0c22a6bec0ca9845844cc818"}
                               software.amazon.awscdk/s3 {:mvn/version "1.20.0"}
                               software.amazon.awscdk/s3-deployment {:mvn/version "1.20.0"}
                               software.amazon.awscdk/lambda {:mvn/version "1.20.0"}
                               software.amazon.awscdk/apigateway {:mvn/version "1.20.0"}}}
           :target {:extra-paths ["target"]}}}
